body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.choice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
}

.button {
    border: none;
    color: #ffffff;
    background-color: #333;
    padding: 10px;
}

.back {
    margin-left: 70px;
    margin-top: 10px;
    background-color: #493548;
    border: none;
    padding: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

img {
    margin: 20px;

}

.melee {
    display: none;
    width: 1100px;
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #4B4E6D;
    padding-bottom: 40px;

}

.handguns {
    display: none;
    width: 1100px;
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #4B4E6D;
    padding-bottom: 40px;
}

.smg {
    display: none;
    width: 1100px;
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #4B4E6D;
    padding-bottom: 40px;
}

.shotguns {
    display: none;
    width: 1100px;
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #4B4E6D;
    padding-bottom: 40px;
}

.ariffels {
    display: none;
    width: 1100px;
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #4B4E6D;
    padding-bottom: 40px;
}

.lmg {
    display: none;
    width: 1100px;
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #4B4E6D;
    padding-bottom: 40px;
}

.snipers {
    display: none;
    width: 1100px;
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #4B4E6D;
    padding-bottom: 40px;
}

.heavy {
    display: none;
    width: 1100px;
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #4B4E6D;
    padding-bottom: 40px;
}

.throw {
    display: none;
    width: 1100px;
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #4B4E6D;
    padding-bottom: 40px;
}

.misc {
    display: none;
    width: 1100px;
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #4B4E6D;
    padding-bottom: 40px;
}

.cross {
    cursor: pointer;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 30px;
}